In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [62]:
df=pd.read_csv('/kaggle/input/loan-apporval-prediction/loan_prediction.csv')
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [63]:
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [64]:
df['Gender'].fillna(df['Gender'].mode()[0],inplace=True)
df['Married'].fillna(df['Married'].mode()[0],inplace=True)
df['Dependents'].fillna(df['Dependents'].mode()[0],inplace=True)
df['Self_Employed'].fillna(df['Self_Employed'].mode()[0],inplace=True)
df['LoanAmount'].fillna(df['LoanAmount'].mode()[0],inplace=True)
df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0],inplace=True)
df['Credit_History'].fillna(df['Credit_History'].mode()[0],inplace=True)

In [65]:
df=df.drop('Loan_ID',axis=1)

In [66]:
dc={'Y':1,'N':0}
df['Loan_Status']=df['Loan_Status'].map(dc)

In [67]:
df.head()

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban,1
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1

In [68]:
x=df.drop('Loan_Status',axis=1)
y=df['Loan_Status']

In [69]:
x=pd.get_dummies(x,drop_first=True)

In [70]:
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 614 entries, 0 to 613
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ApplicantIncome          614 non-null    int64
 1   CoapplicantIncome        614 non-null    float64
 2   LoanAmount               614 non-null    float64
 3   Loan_Amount_Term         614 non-null    float64
 4   Credit_History           614 non-null    float64
 5   Gender_Male              614 non-null    uint8
 6   Married_Yes              614 non-null    uint8
 7   Dependents_1             614 non-null    uint8
 8   Dependents_2             614 non-null    uint8
 9   Dependents_3+            614 non-null    uint8
 10  Education_Not Graduate   614 non-null    uint8
 11  Self_Employed_Yes        614 non-null    uint8
 12  Property_Area_Semiurban  614 non-null    uint8
 13  Property_Area_Urban      614 non-null    uint8
dtypes: float64(4), int64(1), uint8(9)
memory usage: 34.2 KB

In [71]:
from sklearn.metrics import accuracy_score

In [72]:

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB,BernoulliNB
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier

g,b,l,d,r,svc,knn=GaussianNB(),BernoulliNB(),LogisticRegression(),DecisionTreeClassifier(),RandomForestClassifier(),SVC(),KNeighborsClassifier()
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.20)

In [73]:
g.fit(x_train,y_train)
b.fit(x_train,y_train)
l.fit(x_train,y_train)
d.fit(x_train,y_train)
r.fit(x_train,y_train)
svc.fit(x_train,y_train)
knn.fit(x_train,y_train)




predg=g.predict(x_test)
predb=b.predict(x_test)
predl=l.predict(x_test)
predd=d.predict(x_test)
predr=r.predict(x_test)
predsvc=svc.predict(x_test)
predknn=knn.predict(x_test)

In [74]:
accuracy_score(y_test,predg),accuracy_score(y_test,predb),accuracy_score(y_test,predl),accuracy_score(y_test,predd),accuracy_score(y_test,predr),accuracy_score(y_test,predsvc),accuracy_score(y_test,predknn)

(0.7804878048780488,
 0.7886178861788617,
 0.7886178861788617,
 0.7154471544715447,
 0.7804878048780488,
 0.6504065040650406,
 0.5772357723577236)

In [75]:
import numpy as np

accuracies = (0.7804878048780488,
          0.7886178861788617,
          0.7886178861788617,
          0.7317073170731707,
          0.7723577235772358,
          0.6504065040650406,
          0.5772357723577236)

array = np.array(accuracies)

In [76]:
accuarcy=pd.DataFrame()
accuarcy['accuarcy_scores']=array
accuarcy['Models']=['GaussianNB()','BernoulliNB()','LogisticRegression()','DecisionTreeClassifier()','RandomForestClassifier()','SVC()','KNeighborsClassifier()']

In [77]:
accuarcy

   accuarcy_scores                    Models
0         0.780488              GaussianNB()
1         0.788618             BernoulliNB()
2         0.788618      LogisticRegression()
3         0.731707  DecisionTreeClassifier()
4         0.772358  RandomForestClassifier()
5         0.650407                     SVC()
6         0.577236    KNeighborsClassifier()